@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

body{
    padding: 0% 5%;   
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
    text-align: center;
}

h1{
    font-size: 2rem;
    font-weight: 500;
}

p{
    font-weight: 300;
    text-decoration: underline;
}

.author{
    font-size: 13px;
}
#card-container{
    padding: 2% 20%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 2px;
    width: 70%;
    height: auto;
    margin-left: 5%;
}

.card{
    font-size: 1.5rem;
    color: white;
    padding: 0.5rem 2rem;
}

